<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/styles.css' %}">

</head>
<body>
    <header>
        <h1 id="nav-title">SMI</h1>
        <nav>
            <ul>
                <li><a href="#">Market</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Sign Up</a> / <a href="#">Sign In</a></li>
            </ul>
        </nav>
    </header>
    <section class="landing-section landing-main">
        <h1 class="brand">Stock Market Indicator</h1>
        <h2>
        Your own financial advisor -- more than just stock broking
        </h2>
        <button class="button-17" role="button">Get Started</button>
    </section>
    <section class="landing-features">
        <div class="row">
        <h1 class="section-heading">Our Services</h1>
        </div>
        <div class="row">
        <div class="column">
        <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-hammer"></i>
        </div>
        <h3>Service Heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          consequatur necessitatibus eaque.
        </p>
        </div>
        </div>
        <div class="column">
        <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-brush"></i>
        </div>
        <h3>Service Heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          consequatur necessitatibus eaque.
        </p>
        </div>
        </div>
        <div class="column">
        <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-wrench"></i>
        </div>
        <h3>Service Heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          consequatur necessitatibus eaque.
        </p>
        </div>
        </div>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <h3>Stock Market Indicators</h3>
            <p>
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur.
            </p>
            <ul class="socials">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
    </footer>

</body>
</html>